# MIT License — Copyright (c) 2026 John Kuok
# Runtime dependency lock mirror for Raspberry Pi OS (64-bit), Python 3.11-3.13.
# 1.0.0 is the first release whose module is adafruit_blinka_raspberry_pi5_piomatter;
# the 1.0.0a3 alpha installed a module named adafruit_raspberry_pi5_piomatter instead.
adafruit-blinka-raspberry-pi5-piomatter==1.0.0
Adafruit-Blinka==8.65.0
Pillow==11.3.0
numpy==2.2.6
flask==3.1.2
gunicorn==23.0.0
yfinance==0.2.65
feedparser==6.0.11
requests==2.32.3
python-dotenv==1.1.0
yt-dlp==2025.6.30
imageio-ffmpeg==0.5.1
